* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f7fa;
    color: #222;
}

/* HERO */
.hero {
    position: relative;
    height: 90vh;
    background: url("images/build.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.hero h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.hero p {
    margin: 15px 0 30px;
    font-size: 1.2rem;
}

.cta-btn {
    background: #00bcd4;
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #0097a7;
}

/* SERVICES */
.services {
    padding: 80px 8%;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.service-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-card h3 {
    margin: 20px 0 10px;
}

.service-card p {
    padding: 0 20px 30px;
    font-size: 0.95rem;
}

/* WHY US */
.why-us {
    background: linear-gradient(135deg, #00bcd4, #0097a7);
    color: #fff;
    padding: 80px 8%;
    text-align: center;
}

.reasons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 40px;
    font-size: 1.1rem;
}

/* CTA */
.final-cta {
    padding: 80px 8%;
    text-align: center;
}

.final-cta h2 {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.large {
    font-size: 1.2rem;
}

/* FOOTER */
footer {
    background: #111;
    color: #bbb;
    text-align: center;
    padding: 20px;
}


.badge {
  display: inline-block;
  background: #fff;
  color: #0bbcd6;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 40px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  font-weight: bold;
}

.secondary {
  border: 2px solid white;
  color: white;
}

/* GALLERY */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;